# Copy this file to .env and set your secrets
JWT_KEY=THIS_IS_MY_SUPER_SECRET_KEY_123456
STRIPE_SECRET_KEY=sk_test_... 
DB_CONNECTION_STRING=Server=localhost;Database=ECommerceDb;Trusted_Connection=True;MultipleActiveResultSets=true;TrustServerCertificate=True
